// Font-Awesome Icon Sizes
// https://fontawesome.com/how-to-use/on-the-web/styling/sizing-icons

.icon-size-xs {
    font-size: .75em !important;
}

.icon-size-sm {
    font-size: .875em !important;
}

.icon-size-lg {
    font-size: 1.33333em !important;
}

.icon-size-2x {
    font-size: 2em !important;
}

.icon-size-3x {
    font-size: 3em !important;
}

.icon-size-5x {
    font-size: 5em !important;
}

.icon-size-7x {
    font-size: 7em !important;
}

.icon-size-10x {
    font-size: 10em !important;
}